@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Author : Tek Mainali<br />
    Address: 1111 McKee Road<br />
    Pittsburgh, PA 13232<br />

    <abbr title="Phone">P:</abbr>
    412-555-4443
</address>

<address>
    <strong>School Website:</strong>   <a href="http://www.pti.edu">School Info</a><br />
</address>