@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework Remainder</h1>
    
    <img src="~/Images/homework.png" alt="Homework">
    <p class="lead">Homework remainder is the web application. It works exactly as regular remainder app.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Please enjoy the time you spend in this website. Direct through the tab on top of the page. Click on <b> HomeWork Remainder </b> to see remainder list. And also other tabs accordingly.
        </p>
        
       
    </div>
    
</div>